body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  background: #808080;
  background: -moz-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #808080 0%, #ffffff 100%);
}

.logo {
  width: 60px;
  margin-left: auto;
}

.name-container h2 {
  margin-bottom: 5px;
}

.name-container p {
  margin-top: 0;
}

.mini-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 148vh;
  background: #808080;
  background: -moz-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #808080 0%, #ffffff 100%);
}

.mini-links a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-right: 2px solid black;
  background-color: rgb(231, 231, 231);
  background: #808080;
  background: -moz-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #808080 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #808080 0%, #ffffff 100%);
}

.information-container {
  border-radius: 2px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
}
.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  text-align: center;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #b1bbb8 32%, #d9d9d9 100%);
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #b1bbb8 32%,
    #d9d9d9 100%
  );
  background: linear-gradient(to bottom, #ffffff 0%, #b1bbb8 32%, #d9d9d9 100%);
  border-bottom: 2px solid white;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 60px;
  margin-right: auto;
}

.text-content h3 {
  margin-bottom: 5px;
}

.text-content p {
  margin-top: 0;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -webkit-box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.49);
  border-radius: 3px;
}
.about-me img {
  margin-top: 10px;
  width: 200px;
}

.education-info,
.personal-info {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.personal-info {
}

.button {
  margin-left: 500px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
}
